<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script src="https://unpkg.com/vue@next"></script>

	</head>
	<body>
		<!-- Key Modifiers -->
		<div id="app">
			账号<input type="text" value="" v-model="loginForm.user" />
			密码<input type="passord" v-model="loginForm.pwd" @keyup.enter="login_btn" />
			<button type="button" @click.ctrl="login_btn">点击登录</button>
			<button type="button" @click.right="login_btn">点击登录</button>
			<button type="button" @click.middle="check_btn">鼠标中间点击确认</button>

		</div>
		<script type="text/javascript">
			Vue.createApp({
				data() {
					return {
						loginForm: {
							user: "",
							pwd: ""
						}
					}
				},
				methods: {
					login_btn() {
						alert("点击了登录")
					},
					check_btn() {
						alert("已确认")
					}
				}
			}).mount("#app")
		</script>
	</body>
</html>
